@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
  --page-background: rgb(20, 20, 20);
  --h1-phont: 'Questrial', sans-serif;
  --logo-color: #3b444b;
  --text-color: #6b7b87;
  --botton-active: #a2a6a6;
  --botton-passive: #6b7b87;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: var(--text-color);
}


body {
    width: 85%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    background-color: var(--page-background);
    color: whitesmoke;
}

h1 a {
  font-size: 55px;
  letter-spacing: 0.09em;
  font-family: var(--h1-phont);
  font-weight: 600;
  color: var(--logo-color);
  /* text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(49, 49, 134); */
}

nav {
  display: flex;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
div p {
  font-size: 20px;
  font-weight: 400;
  margin-left: 60px;
  padding: 5px 10px;
  /* text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(49, 49, 134); */
}

.menu {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin-bottom: 15px;
}

.menu a {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: var(--logo-color);
  /* text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(49, 49, 134); */
}

.menu span{
  color: var(--logo-color);
  font-size: 15px;

}

#profile img {
  padding: 10px;
  border-radius: 50%;
  width: 100px;
}

.post-user-container {
  display: flex;
}

.post-img-user {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.post-user-info {
  display: flex;
  flex-direction: column;
}

.post-title {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
.post-body {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.user-section {
  flex-basis: 300px;
  padding: 0 10px;
  background-color: blanchedalmond;
}

.user-post-section {
  padding: 0 10px;
}

.box {
  position: relative;
}

.userstory-button {
text-align: right;
}

.flex {
  display: flex;
}

.col {
  flex: 1;
}






/* img {
    width: 100%;
} */
/* HIDE RADIO */
[type=radio] 
{  
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
  
  /* IMAGE STYLES */
  [type=radio]
   + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]
  :checked + img {
    outline: 2px solid #f00;
  }




  /* Style for showing photos */

  .photo-container {  
    width:100%;
    height: 700px;
    margin: 15px auto;  
    background-color: var(--page-background);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .photo-container img{
    flex-shrink: 2;
    min-width: 1300px;
 }

  .photo-container::after {
    position: absolute;
    top:0;
    left: 0;  
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background-image: linear-gradient(to right, var(--page-background) 1%, transparent 10%);
  }

  .photo-container::before {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    content: '';
    display: block;
    background-image: linear-gradient(to left,  var(--page-background) 1%, transparent 15%);
  }


  /* Photo page */

  .photo-details {
    margin: 50px auto;
    width: 80%;
  }

  .photo-details *{
    margin: 10px 0;
  }

  .photo-explanation {
    font-size: 15px;
  }

  .photo-page {
    width:100%;
    height: 800px;
  }

  .photo-page img{
    width:100%;
    height: 100%;
  }


/* Likes and comments icons */
.stat-info {
  position: relative;
  text-align: right;
}

.stat-info * {
  width: 20pt;
  height: 20pt;
  font-size: 20pt;
  margin: 0 2px;
}
.stat-info *:nth-child(2){
  margin-right: 30px;
}


  /* LIKE BUTTON */
/* body{
  font:normal 100% sans-serif;
  color:silver;
  background:rgba(#000,.1);
}
.wrapper-demo{
  text-align:center;
  margin-top:40vh;
}
:focus{outline:none}  */




/* == Unicodes cheatsheet ==
   http://fontawesome.bootstrapcheatsheets.com
*/

/* // heart icon example */

.toggle-icon{
  width: 20pt;
  height: 20pt;
  font-size: 20pt;
  position: relative;
  color:gray;
  cursor:pointer;
  border:none;
  background-color:transparent;
}

.toggle-icon::before, .toggle-icon::after{    
  position:absolute;
  top: 0;
  left: 0;
  transition:all .3s ease-out;
  content: "\f08a";
  font-family:fontawesome;
}

.toggle-icon:hover::before{
  transform:scale(1.1);
}

.toggle-icon:active::before{
  transition:none;
  transform:scale(1);
}
  
.toggle-icon:active::after{
  opacity:0;
}

.toggle-icon.-checked{
  color:#A12C2C;
}

.toggle-icon.-checked::before{
  content:"\f004";
}

.toggle-icon.-checked::after{
  content:"\f004";
  animation:likeFly .6s ease-in;
}  

@keyframes heartbeat{
  from{
    opacity:1;
  }
  to{
    transform:scale(3);
    opacity:0;
  }
}

@keyframes likeFly{
  from{
    opacity:1;
  }
  to{
    transform:scale(3) rotate(45deg) translateY(-90px);
    opacity:0;
  }
}


/* Comments */
.comments-block{
  width: 80%;
  margin: 30px 0;
}
.comment-body {
  background-color: #3c444a; 
  color: white;
  width: 300px;
  border: none;

}

/* Buttons */
/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

.rainbow, .rainbow::before, .rainbow::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	width: 100px;
	height: 25px;
	/* border-radius: 10px; */
	overflow: hidden;
  padding: 2rem;
}
	
.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: var(--page-background);
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#a2a6a6, #a2a6a6), linear-gradient(#282e33, #282e33), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 5s linear infinite;
}
	
.rainbow::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--page-background);
  /* border-radius: 5px; */
}


/* 2 */

@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  
  position: relative;

  display: inline-block;
  padding: 0.5em 2em;

  cursor: pointer;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;

    height: $borderWidth;
    width: 100%;

    background-color: $color;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {

    & > * {

      & > * {

        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }

        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  & > * {

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;

      height: 100%;
      width: $borderWidth;

      background-color: $color;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    & > * {

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;

        height: $borderWidth;
        width: 100%;

        background-color: $hoverColor;
      }

      &:before {
        top: 0;

        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }

      &:after {
        bottom: 0;
        
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }

      & > * {

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;

          height: 100%;
          width: $borderWidth;

          background-color: $hoverColor;
        }

        &:before {
          left: 0;

          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }

        &:after {
          right: 0;

          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}

// Start of styling
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f2f2f2;
}

a {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.btn {
  @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
}
