@import url('https://fonts.googleapis.com/css?family=Abel|Inconsolata|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
  --page-background: rgb(20, 20, 20);
  --h1-phont: 'Questrial', sans-serif;
  --logo-color: #3b444b;
  --text-color: #6b7b87;
  --botton-active: #a2a6a6;
  --botton-passive: #6b7b87;
  --text-font-family: 'Montserrat', sans-serif;
  --text-font-size: 15px;

}

html {
  background-color: #202020;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    overflow: auto;
    color: #6b7b87;
}

h1 a {
  font-size: 55px;
  letter-spacing: 0.09em;
  font-family: var(--h1-phont);
  font-weight: 600;
  color: var(--logo-color);
  text-shadow: 1px 2px 1px rgb(27, 26, 26), 3px 3px 5px rgb(157, 157, 168);
}

nav {
  /* display: flex; */
  padding: 20px;
  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu a {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--logo-color);
  /* text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(49, 49, 134); */
} 


.menu span{
  color: var(--logo-color);
  font-size: 18px;

}

.main-area-secssion {
  display: flex;
  width: 100%;
}

h3 {
  /* font-family: 'Dancing Script', cursive; */
  font-size: 34px;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 20px;
}

/* ===================== Post Profile Form  ===================== */

.box-form-profile {
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile textarea {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  color: rgb(75, 70, 71);
}

#profile img {
  width: 70px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

#profile label img:hover {
  filter: brightness(30%);
  transform: scale(1.01);
}

.boxt-first {
  position: relative;
  padding: 20px 20px 30px 10px;
  border-radius: 3px 3px 0 0;
  background: #252525;
  transition: .4s linear;
  color: #a2a6a6;
  font-size: 16px;
}

.box-middle {
  padding: 10px;
  display: none;
  background-color: #a2a6a6;
  transition: .4s linear;
  transition: .5s ease;
  animation-name: fadeInDown;
  animation-duration: 0.4s
}

.box-last {
  position: relative;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background: #252525;
  transition: .4s linear;
}

.box-last p {
  color: #a2a6a6;
  font-size: 16px;
  font-weight: 500;
}

.click-here {
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(227, 252, 227);
  cursor: pointer;
}

.click-here:hover {
  color: rgb(77, 112, 156);
}

.close-form {
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(49, 49, 134);
  position: absolute;
  right: 10px;
  top: -30px;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.close-form:hover {
  color: royalblue;
}

.add {
  position: absolute;
  bottom: -50px;
  right: -10px;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
  color: #a2a6a6;
  background: #252525;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.add:hover {
  background-color: #a2a6a6;
  color: #252525;
}

/* ===== Profile user information area ======== */

.profile-avatar {
  width: 50px;
  height: auto;
}

.user-section {
  position: relative;
  flex-basis: 31%;
  margin-bottom: 40px;
  /* border: 2px solid gray; */
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  /* opacity: 0.7; */
  height: 610px;
}

.info {
  padding: 0 20px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
}

.image-profile {
  width: 130px;
  padding: 10px;
}

.picture-profile {
  margin: 10px 10px 20px 10px;
}

/* ==Button */
.create-user-profile {
  position: absolute;
  top: -15px;
  right: 20px;
  font-weight: 800;
  font-size: 14px;
  padding: 10px; 
  color: whitesmoke;
  background-color: rgb(155, 196, 209);
  border-radius: 3px;
  cursor: pointer;
}

.create-user-profile:hover {
  color: whitesmoke;
  background-color: rgb(42, 112, 136);
}

.user-info-detail {
  padding: 20px 15px;
  color: #a2a6a6;
  width: 100%;
  background-color: rgba(36, 33, 33, 0.561);
}

.profile-detail-section {
  position: absolute;
  bottom: 0px;
  padding: 15px;
  color: white;
  width: 100%;
  background-color: rgba(36, 33, 33, 0.561);
}

/* ========== Profile Post Area ========== */

.user-post-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-author-poem {
  position: relative;
  flex-basis: 31%;
  display: flex;
  margin-bottom: 40px;
  /* border: 2px solid gray; */
  border-radius: 3px;
}

.post-author-poem:hover {
  border: none;
}

.span-title {
  position: absolute;
  top: 38px;
  left: 20px;
  font-size: 25px;
  font-weight: 900;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 110%;
  text-shadow: 1px 2px 1px rgb(27, 26, 26), 3px 3px 5px rgb(2, 2, 2);
  background-color: rgba(0, 0, 0, 0.561);
  width: 90%;
  padding: 10px;
}

.profile-message-area {
  margin: 10px 0;
}

.profile-message-area a {
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 10px;
}

.post-body {
  padding: 10px 0;
  line-height: 150%;
}

/* ==Button */
.update {
  position: absolute;
  top: -18px;
  right: 20px;
  font-size: 18;
  padding: 8px;
  border-radius: 3px;
  color: whitesmoke;
  background-color: rgb(57, 128, 57);
}

.delete {
  position: absolute;
  top: -18px;
  right: 100px;
  color: whitesmoke;
  font-size: 18;
  padding: 8px;
  border-radius: 3px;
  background-color: #d85d54;
  width: 75px;
  text-align: center;
}


.update:hover {
  color: whitesmoke;
  background-color: rgb(3, 68, 5);
  font-weight: 800;
  filter: brightness(140%);
}

.delete:hover {
  color: whitesmoke;
  background-color: #8f251d;
  font-weight: 800;
  filter: brightness(140%);
}

.post-user-info {
  display: flex;
  flex-direction: column;
  color: #e0ecec;
}

.post-img-user {
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-size: auto, cover;
  /* opacity: 0.7; */
  width: 100%;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
}

.post-img-user:hover {
  filter: brightness(140%);
  transform: scale(1.01);
  transition: .4s linear;
  opacity: 1;
  border: none;
  /* box-shadow: 5px 5px 5px rgb(141, 137, 137); */
}

.poem-detail {
  position: absolute;
  right: 20px;
  top: 150px;
  width: 60%;
  height: 80%;
  color: whitesmoke;
  filter: brightness(140%);
  padding: 15px;
  border-radius: 3px;
  overflow: auto;
  background-color: rgba(36, 33, 33, 0.561);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.507);
}

.span-yellow {
  /* padding: 0 10px; */
  color: yellow;
  font-weight: 800;
  font-size: 17px;
}

.span-gray {
  color: yellow;
  font-weight: 700;
  font-size: 16px;
}

.span-text {
  color: rgb(41, 164, 180);
  font-weight: 500;
  font-size: 16px;
}

/* ======== Animation Message ======= */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
}

.f-a-center {
  align-items: center;
}

.f-j-content {
  justify-content: center;
}

.margin-top {
  margin: 10px 15px 0;
}

.margin {
  margin: 10px;
}


/* ========= Box and Form Animation =========== */
.modal, .introducing {
  position: relative;
  transition: .3s linear;
  display: none; 
  position: fixed; 
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: .4s linear;
  background: radial-gradient(circle at 80%, rgba(51, 51, 51, 0.493), rgba(51, 51, 51, 0.424) 40%, #eee 70%, rgba(51, 51, 51, 0.596) 80%);
  animation-name: fadeInLeft;
  animation-duration: 0.9s
}

.modal-content {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.493);
  width: 600px;
  height: 600px;
  top: 10%;
  left: 29%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 200000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.read-me-poem {
  position: absolute;
  top: 70%;
  left: 35%;
  width: 700px;
  padding: 10px 20px;
  color: whitesmoke;
  font-weight: 800px;
  background-color: #252525d2;
  border-radius: 3px;
  border: 1px solid #252525;
}



/* ========= Animation =========== */
.animated-box {
  width: 50%;
  height: 80%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-title {
  position: absolute;
  text-shadow: 1px 2px 1px rgb(27, 26, 26), 3px 3px 5px rgb(118, 118, 124);
  color: #c1eb08;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  top: -40px;
  left: 0;
}

@keyframes animatetop {
  from {top: -200px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes slideLeft {
  from {left: -200px; opacity: 0}
  to {left: 0; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 1400px) {
  body {
    width: 80%;
    height: 100vh;
    padding: 10px;
    font-size: 14px;
  } 

  .user-post-section {
    justify-content: space-around;
  }
  
  .box-form-profile {
    width: 90%;
    height: auto;
  }

  .modal-content {
    width: 500px;
    height: 500px;
    top: 20%;
    left: 30%;
  }

  .user-section, .post-author-poem {
    flex-basis: 40%;
  }

  .read-me-poem {
    top: 70%;
    left: 35%;
    width: 600px;
  }
}


@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    font-size: 13px;
  } 

  .user-post-section {
    justify-content: space-around;
  }
  
  .box-form-profile {
    width: 90%;
    height: auto;
  }

  .modal-content {
    width: 400px;
    height: 400px;
    top: 25%;
    left: 10%;
  }

  .user-section, .post-author-poem {
    flex-basis: 85%;
  }

  .read-me-poem {
    top: 63%;
    left: 13%;
    width: 400px;
  }
  .photo-title {
    font-size: 14px;
  }

}