{% extends 'base.html' %}

{% block content %}

  <div class='introducing'>
    <form id='profile' action="{% url 'profile_create'%}" method="post">
      {% csrf_token %}
      <div class='box-form-profile'>

        <div class='boxt-first box-content'>
            <p class='close-form'>Close X</p>
            <p>Your can select your Avatar and <br>and give a short story on your profile</p>
            <p class='click-here'>Select or Change your icon</p>
        </div>
        <div class='box-middle'>
          <div class='message-box'>
            <div class="flex-container f-j-content">
                <div class="image-option">
                    <input class="radio" type="radio" name="avatar" value="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png" id="1" checked="checked">
                    <label for="1"><img src="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png"></label>
                </div>
                <div class="image-option">
                    <input class="radio" type="radio" name="avatar" value="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png" id="2">
                    <label for="2"><img src="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png"></label>
                </div>
                <div class="image-option">
                    <input class="radio" type="radio" name="avatar" value="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png" id="3">
                    <label for="3"><img src="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png"></label>
                </div>
                <div class="image-option">
                    <input class="radio" type="radio" name="avatar" value="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png" id="4">
                    <label for="4"><img src="https://cdn2.iconfinder.com/data/icons/lady-worker/300/e-512.png"></label>
                </div>
            </div>
          </div>
        </div>
        <div class='box-last'>
          <p>Tell us about your story or how you feel today</p>
          <textarea class='col' name="userstory" rows="4" required></textarea>
          <input class='add' type="submit" value="Save your profile">
        </div>
      </div>
    </form>
  </div>

<main>
   <div class='main-area-secssion'>
      <section class='user-section'>
        <div class='picture-profile'>
            <img class="image-profile" src="{{ profile.avatar }}" />
            <p class='create-user-profile'>Update Profile</p>
        </div>
        <div class='profile-detail-section'>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <p>{{ user.email }}</p><br>
            <p><span class='span-gray'>Your story : </span></p> 
            <p>{{ profile.userstory }}</p>
        </div>
      </section>
      <section class='user-post-section'>
        <div>
          <h3>Your Story</h3>
          {% for post in posts%}
          <fieldset>
              <legend class='profile-message-area'>
                  <div class='col'><span class='span-yellow'>Name : </span>
                    <span class='span-green'>{{ post.title }}</span>
                  </div> 
                  <div class=legend2>
                      <a class='update' href="{% url 'post_edit' pk=post.pk %}">Update</a>
                      <a class='delete' href="{% url 'post_delete' pk=post.pk%}">Delete</a>
                  </div>
              </legend>
                
              <div class='post-img-user mybtn' style="background-image:url({{ post.photo.url }})";"></div>
              
              <div class="modal">
                  <div class="modal-content" style="background-image:url({{ post.photo.url }})";"></div>  
                      <!-- #<div class="photo-title">{{ post.photo.title }}</div> #-->
              </div>
            
              <div class='post-user-info col'>
                  <div class='post-body col'><span class='span-text'>Your writing : </span>{{ post.body }}</div>
              </div>
          </fieldset>
          {% endfor %}
        </div>
      </section>
   </div>
</main>

<script defer>


  // # controller # //
    $('main').on('click', '.mybtn', function (event) {
      event.target.nextElementSibling.style.display = 'block'
    })
  
    $('main').on('click', '.modal', function (event) {
      $('.modal').css('display', 'none')
    })

    $('.create-user-profile').on('click', function () {
      $('.introducing').css('display', 'block')
    })
    $('.click-here').on('click', function () {
      $('.box-middle').toggle()
    })

    $('.add').on('click', function () {
      $('.introducing').css('display', 'none')
      $('.box-middle').css('display', 'none')
    })

    $('.close-form').on('click', function () {
      $('.introducing').css('display', 'none')
      $('.box-middle').css('display', 'none')
    })

</script>
{% endblock %}
