{% extends 'account_base.html' %}

{% block content %}

<main>
    {% if error %}
    <p style="background-color: firebrick;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="flex-col">
            <label for="username">Username</label>
            <input type="username" name="username" maxlength="25" minlength="2" required>
        </div>
        <div class="flex-col">
            <label for="password">Password</label>
            <input type="password" name="password" maxlength="8" minlength="4" required>
        </div>
        <button type="submit">Log in</button>
    </form>
</main>

{% endblock%}

