{% extends 'account_base.html' %}

{% block content %}

<div class=centered>
    <nav>
        <div>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'main_page' %}">As A Stranger</a>
        </div>

    </nav>

    <fieldset class='flex'>
        <legend>
            <div><span class="welcome">WELCOME</span><span class="small-letter">TO</span></div>
        </legend>
        <div class="logo"><h1><span class="brand-logo">Star Dreamer</span></h1></div>
        
        <main>
            <form method="POST">
                {% csrf_token %}
                <div class="flex-col">
                    <label for="username">Username</label>
                    <input type="username" name="username" maxlength="25" minlength="2" required>
                </div>
                <div class="flex-col">
                    <label for="password">Password</label>
                    <input type="password" name="password" maxlength="8" minlength="4" required>
                </div>
                {% if error %}
                <div style="background-color: #f8d7da; color: #94303a;">{{ error }}</div>
                {% endif %}
                <button type="submit">Log in</button>
            </form>
        </main>

    </fieldset>
</div>



{% endblock%}

