{% extends 'base.html' %}

{% block content %}

<section>
    <h2>{{photo.title}}</h2>
    <p>{{photo.date}}</p>
    <p>{{photo.explanation}}</p>
    <img src="{{photo.url}}" alt="{{photo.title}}">
</section>
<section>
    <a href="{% url 'add_comment' pk=photo.pk%}">Comment</a>
    <a href="#">I feel inspired</a>
</section>

<section>
    <h3>Comments</h3>
    {% if photo.photocomments_photo.all %}
        {% for comment in photo.photocomments_photo.all %}
        <p class=comment>
            {{comment.user}}: 
            {{comment.body}}
            <br>
            {% if comment.user == user %}
            <a href="{% url 'edit_comment' pk=photo.pk comment_pk=comment.pk %}">Edit</a>
            <a href="{% url 'delete_comment' pk=photo.pk comment_pk=comment.pk %}">Delete</a>
            {% endif %}
        </p>
        

        {% endfor %}
    {% else %}
        <li class=comment>
            No Comments yet...
        </li>

    {% endif %}
</section>

{% endblock %}