{% extends 'base2.html' %}

{% block content %}
<!-- <div id="biiigphoto" style="background-image: url('{{post.photo.url}}'); height: 100vh; width: 100vw; position: absolute;; "> -->

<div class="flex-container-no-wrap">


    <div id="poem-photo" style="background-image: url('{{post.photo.url}}'); background-size: 600px 500px; display: inline-block;"></div>
    <div id="post-details2" class="photo-details" style=" width: 400px;">
        <h2>{{post.title}}</h2>
        <a href="{% url 'profile_show' pk=post.user.pk %}"><p>{{ post.user.username }}</p></a>
        <p id="poem" class="photo-explanation">{{post.body}}</p>
        <div class="stat-info">
            <button class="toggle-icon {{checked}}" title="❤ Toggle Like!"></button>
            <span class="total-likes">{{ likes }}</span>
            <i class="fa fa-comment-o"></i>
            <span class="total-comments">{{ comments }}</span>
        </div>
    </div>
</div>

{% if post.user == user %}
<div class="flex-right">
    <a href="{% url 'post_edit' pk=post.pk%}" style="margin-right: 20px;">Edit</a>
    <a href="{% url 'post_delete' pk=post.pk%}">Delete</a>
</div>
{% endif %}

<div class='button-container'>
    <div class="btn" id="add-comment">
        <span><span><span>Comment</span></span></span>
    </div>
</div>

</div>
<!-- Comment -->

<section class="comments-block">
    <section class='add-comment hidden'>
        <textarea class="new-comment-body"></textarea>
        <div class="flex-right">
            <button id="cancel-comment" class="small">Cancel</button>
            <button id="save-comment" class="small">Save</button>
        </div>
    </section>
    <p id="comments" style="font-size: 25px;">Comments</p>
    {% if post.postcomments_post.all %}
        {% for comment in post.postcomments_post.all %}
        <div class="comment-frame">
            <p class="comment">
                <a href="{% url 'profile_show' pk=comment.user.pk %}"><p id="username">{{comment.user}}: </p></a>
                <p>{{comment.body}}</p>
                {% if comment.user == user %}
                <div>
                    <div class="flex-right">
                        <a href="{% url 'edit_comment_post' pk=post.pk comment_pk=comment.pk %}">Edit</a>
                        <a href="{% url 'delete_comment_post' pk=post.pk comment_pk=comment.pk %}">Delete</a>
                    </div>
                </div>  
                    {% endif %} 
            </p>
        </div>

        {% endfor %}
    {% else %}
        <li class=comment>
            No Comments yet...
        </li>

    {% endif %}
</section>

<!-- JS -->
<script type="text/javascript">
     
    //  Add Like
    $(function () {
        $('.toggle-icon').on('click', function () {
            console.log('api/v1/post/{{post.pk}}/add_like');
            $.ajax({
                method: "POST",
                url: 'api/v1/post/{{post.pk}}/add_like',
                success: addLike,
                error: onError,
            })
        });
    });
    
    //  Add Comment 
    $('#save-comment').on('click', ()=>{    
        let comment = $('.new-comment-body').val();
        console.log(comment)
        if (comment.length > 0) {
            $.ajax({ 
                method: "POST",
                url: `api/v1/post/{{post.pk}}/add_comment/${comment}`,
                success: addComment,
                error: onError,
            })
        }
    })
    
    // Format text
    window.onload = function () {
            console.log("making paragrafs...")
            var p_elements = document.getElementById('poem');
            console.log(p_elements);

            var unixNewLine = new RegExp("\n", "g");
            for (var i = p_elements.length - 1; i >= 0; i--) {
                p_elements[i].innerHTML = p_elements[i].innerHTML.replace(unixNewLine, '<br/>');
            }
        }


    </script>


{% endblock %}