{% extends 'base.html' %}

{% block content %}

<section class="form-section">
    <div class="photo-container photo-page post-img-container">
        <img src="{{photo.url}}" alt="{{photo.title}}">

    </div>
    <div class="post-text">
        <form id="new-post" method="POST">
            <h1>{{header}}</h1>
            {% csrf_token %}
            {{form.as_p}}
            <div class="flex-right">
                <a href="{% url 'photo_details' pk=photo.pk%}">Cancel</a>
                <button type='submit'>Save</button>
            </div>
        </form>
    </div>
    
</section>
<script>
    // to hide lables:
    $('#new-post').children().children()[0].classList.add("hidden");
    $('#new-post').children().children()[2].classList.add("hidden");
</script>

{% endblock %}