{% extends 'base.html' %}

{% block content %}

<form id='profile' action="{% url 'profile_create'%}" method="post">
    {% csrf_token %}
    <lable>
            <div class="image-option">
             <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OZUN5stt.png" checked>
                <img src="https://i.imgur.com/OZUN5stt.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/bvrB60st.png" checked>
              <img src="https://i.imgur.com/bvrB60st.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>
          <lable>
            <div class="image-option">
              <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png" checked>
              <img src="https://i.imgur.com/OKNkYdht.png">
            </div>
          </lable>

    <div>Write your inspiration :</div>
    <div>
        <textarea name="userstory" cols="90" rows="10" required></textarea>
        <div class="userstory-button">
            <input type="submit" value="Create your profile">
        </div>
    </div>
</form>

 <main>
   <div class='flex'>
      <section class='user-section'>
        <div>Profile</div>
          <h2>Profile : {{ author }}</h2>
      </section>
      <section class='user-post-section col flex'>
        <div>
          
          <h3>Post Story</h3>
          {% for post in posts%}
          <div class='post-user-container'>
              <div>
                  <img class='post-img-user'src="{{ post.photo.url }} ">
              </div>
              <div class='post-user-info col'>
                  <div class='post-title col'>Written by {{ author }} / {{ post.title }}  </div> 
                  <div class='post-body col'>Poem : {{ post.body }}</div>
              </div>
          </div>
          {% endfor %}
        </div>
      </section>
   </div>
</main>
{% endblock %}
<!-- <div style="background-image: url({{ post.photo.url }});" class='post-user-container'></div> -->