{% extends 'base.html' %}

{% block content %}

<form id='profile' action="{% url 'profile_create'%}" method="post">
    {% csrf_token %}
    <label>
      <input class="radio" type="radio" name="avatar" value="https://i.imgur.com/OZUN5stt.png" checked>
      <img src="https://i.imgur.com/OZUN5stt.png">
    </label>
    <label>
      <input type="radio" name="avatar" value="https://i.imgur.com/bvrB60st.png">
      <img src="https://i.imgur.com/bvrB60st.png">
    </label>
    <label>
      <input type="radio" name="avatar" value="https://i.imgur.com/OKNkYdht.png">
      <img src="https://i.imgur.com/OKNkYdht.png">
    </label>

    <div>Write your inspiration :</div>
    <div>
        <textarea name="userstory" cols="90" rows="10" required></textarea>
        <div class="userstory-button">
            <input type="submit" value="Create your profile">
        </div>
    </div>
</form>

<main>
   <div class='flex'>
      <section class='user-section'>
        <img class="image-profile" src="{{ profile.avatar }}">
        <p>Profile Information</p>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>Email : {{ user.email }}</p><br>
        <p>Inspiration : {{ profile.userstory }}</p>

      </section>
      <section class='user-post-section col flex'>
        <div>
          
          <h3>Post Story</h3>
          {% for post in posts%}
          <div class='post-user-container'>
              <div>
                  <img class='post-img-user mybtn'src="{{ post.photo.url }} ">

                  <div class="modal">
                      
                    <div class="modal-content" style="background-image:url({{ post.photo.url }})"">
                      <span class="close">&times;</span>
                      <p>Hello</p>
                    </div>
                  
                  </div>

              </div>
              <div class='post-user-info col'>
                  <div class='post-title col'>Written by {{ author }} / {{ post.title }}  </div> 
                  <div class='post-body col'>Poem : {{ post.body }}</div>
              </div>
          </div>
          {% endfor %}
        </div>
      </section>
   </div>
</main>

<script>
    $('main').on('click', '.mybtn', function (event) {
      console.log(event.target.nextElementSibling)
      event.target.nextElementSibling.style.display = 'block'
    })
  
    $('main').on('click', '.modal', function (event) {
      console.log(event.target.parentElement.parentElement)
      $('.modal').css('display', 'none');
    })  
</script>
{% endblock %}
