{% extends 'account_base.html' %}

{% block content %}

<main>
    {% if error %}
    <p style="background-color: firebrick;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="flex-col">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" maxlength="25" minlength="2" required>
        </div>
        {% if first_name == "" %}
        <div >Please input your first name</div>
        {% endif %}
        <div class="flex-col">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" maxlength="25" minlength="2" required>
        </div>
        <div class="flex-col">
            <label for="username">User Name</label>
            <input type="username" name="username" maxlength="25" minlength="2" required>
        </div>
        <div class="flex-col">
            <label for="email">Email</label>
            <input type="email" name="email" maxlength="25" minlength="2" required>
        </div>
        <div class="flex-col">
            <label for="password">Password</label>
            <input type="password" name="password" maxlength="10" minlength="4" required>
        </div>
        <div class="flex-col">
            <label for="password2">Confirm Password</label>
            <input type="password2" name="password2" maxlength="10" minlength="4" required>
        </div>
        <button type="submit">Register</button>
    </form>
</main>

{% endblock %}

    
