{% extends 'account_base.html' %}

{% block content %}

<fieldset class='flex centered'>
    <legend>
        <div><span class="welcome">WELCOME</span><span class="small-letter">TO</span></div>
    </legend>
    <div class="logo"><h1><span class="brand-logo">Star Dreamer</span></h1></div>

    <main class='flex f-a-center f-j-content'>
        <div>
            <a href="{% url 'login' %}">Log in</a>
        </div>
        <div>
            <a href="{% url 'register' %}">Register</a>
        </div>
        <div>
            <a href="{% url 'guest_login' %}">As Guest</a>
        </div>
    </main>
</fieldset>

{% endblock %}
</body>
</html>


	

	


