<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
</head>
<body>
    <fieldset id="home">
        <legend>
            <div><h1>Welcome TO Star Dreamer</h1></div>
        </legend>
    <div>
        <a href="{% url 'login' %}">Log in</a>
    </div>
    <div>
        <a href="{% url 'register' %}">Register</a>
    </div>
    </fieldset>
</body>
</html>

